@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
$green: #00F9B6;
$grey: #4e4b49;
$red: #D10061;
#breadcrumbs{
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  border-top:1px solid $grey;
  border-bottom:1px solid $grey;
  font-family: 'Titillium Web', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .breadcrumb{
    display: table-cell;
    margin: 0;
    font-size: 13px;
    background-image: url(../../assets/images/home-icon.png);
    background-size: 20px;
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 23px;
    padding-top: 2px;
    height: 25px;
    vertical-align: middle;
    color: $green;
    background-color: #131313;
    .backslash{
      color: $grey;
    }

  }
  .template2{
    color: $green;
    margin: 0;
    text-align: right;
    cursor: pointer;
  }
}
#contentgrid{
  display: grid;
  margin: auto;
  width: 90%;
  grid-template-columns: 15% 85%;
  margin-top: 5vh;
  select{
    color: black;
    background-color: $green;
  }
  .content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: fit-content;
    border-right: 1px solid $grey;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    overflow: hidden;
    margin-bottom: 2vh;
    .image{
      background-color: white;
      cursor: pointer;
  img{
    display:block;
    width: 100%;
    object-fit: cover;
    transform: rotate(-90deg);
    margin: calc((300px - 98px)/2) 0px;
  }
}  :focus{
  outline: none;
    }
.text{
  color: white;
  font-family: 'Titillium Web', sans-serif;
  padding-left: 20px;
  padding-top: 50px;
  h3{
    cursor: pointer;
  }
  :focus{
outline: none;
  }
  p{
    color: rgb(153, 153, 153);
    font-size: 14px;
    .green{
      color: $green;
      cursor: pointer;
    }
  }
}
.action{
  display: grid;
  justify-items: center;
  font-family: 'Titillium Web', sans-serif;
  .price{
  place-self: end center;
padding: 10px;
  border: 1px solid $grey;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  color: white;
  font-weight: 200;
  }
  .priceoffer{
    color: $green;
  }
  button{
    background-color: $red;
    color: white;
    border: none;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    height: 50px;
    transition: .5s ease-in-out;
  }
  button:hover{
    background-color: white;
    color: $red;
    transform: scale(1.05);
    transition: .5s ease-in-out;
  }
  button:active{
    transform: scale(0.9);
  }
  .added{
    color: white;
    text-align: center;
    margin: 0;
  }
  .stock{
    place-self: start center;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
  }
}
}
}
@media only screen and (max-width: 600px) {
  #contentgrid {
    grid-template-columns: 1fr;
    .content{
      grid-template-columns: 1fr;
    }
  }
}
