<app-header></app-header>
<main>
  <div id="breadcrumbs">
    <p class="breadcrumb"><span routerLink="/Forside">Forside</span> <span class="backslash"> \ </span>{{products.items.title}} <span class="backslash"> \ </span>{{products.items.subgroup.title}}</p>
        <ng-template #order>
    <p class="template2" routerLink="/Ordrerhistorik">OrdreHistorik</p></ng-template>
    <ng-template [ngIf]="token === null" [ngIfElse]="order">
      <p></p></ng-template>
  </div>
  <section id="contentgrid">
  <app-sidenav></app-sidenav>
  <div>
    <select id="sort-by" (change)="sort2($event)">
      <option value="" selected disabled hidden>Producenter</option>
      <option value="All">Alle Produkter</option>
      <option value="{{produkt.brand}}" *ngFor="let produkt of products.items.subgroup.products">{{produkt.brand}}</option>
    </select>
    <select id="sort-by" (change)="sort($event)">
      <option value="" selected disabled hidden>Sorter efter...</option>
      <option value="high">Pris: høj til lav</option>
      <option value="low">Pris: lav til høj</option>
      <option value="high2">Rating: høj til lav</option>
      <option value="low2">Rating: lav til høj</option>
      <option value="a-z">A til Å</option>
      <option value="z-a">Å til A</option>
    </select>
  <div class="content" *ngFor="let produkt of produktarray">
    <div class="image">
    <img src="{{produkt.image_fullpath}}" alt="{{produkt.image_filename}}" routerLink="/Produktside/{{produkt.id}}">
  </div>
  <div class="text">
    <h3 routerLink="/Produktside/{{products.items.title}}/{{products.items.subgroup.title}}/{{produkt.id}}">{{produkt.name}}</h3>
    <ng-template #short class="template">
    <p>{{produkt.description_short}} <span class="green" (click)="readlong(produkt.id)">Læs mere.</span></p></ng-template>
    <ng-template [ngIf]="descriptionvar === produkt.id" [ngIfElse]="short" class="template">
      <p>{{produkt.description_long}} <span class="green" (click)="readless()">Læs mindre.</span></p></ng-template>
  </div>
  <div class="action">
    <ng-template [ngIf]="produkt.offerprice !== '0.00'" [ngIfElse]="nooffer">
      <h4 class="price" id="price{{produkt.id}}"><span>Tilbud:</span> DKK {{produkt.offerprice}}</h4>
    </ng-template>
    <ng-template #nooffer>
      <h4 class="price" id="price{{produkt.id}}">Pris: DKK {{produkt.price}}</h4>
    </ng-template>
    <ng-template [ngIf]="token === null" [ngIfElse]="koeb">
      <button [ngStyle]="{
        'width': setWidth(produkt.id)}">Login for at købe</button>
    </ng-template>
    <ng-template [ngIf]="added === produkt.id" [ngIfElse]="notadded">
      <p class="added" [ngStyle]="{
        'width': setWidth(produkt.id)}">Tilføjet til kurv</p>
    </ng-template>
    <ng-template #notadded>
    </ng-template>
   <ng-template #koeb>
    <button [ngStyle]="{
      'width': setWidth(produkt.id)}" (click)="addToBasket(produkt.id)">Læg i kurv</button></ng-template>
    <p class="stock">{{produkt.stock}}+ på lager</p>
  </div>
  </div>
</div>
  </section>
  </main>
  <app-footer></app-footer>
